# Set
`syntax`::myset={"apple","banana","cherry"}

### Set
sets are used to store multiple items in a single variable.
<br>
Set is one of the 4 built in data types in python used to store collections of data ,the other 3 are `list`,`tuple`,and `dictionary`.all with different qualities and usage.
<br>
A set is a collection which is unordered ,unchangeable,and unidexed
<br>`note::` Set items are unchangeable ,but you can remove and add new items into the set<br>
<br>
Sets are written with curly braces

In [1]:
# Create a set:
thisset={"apple","banana","cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

`note:: ` Sets are unordered ,so you can be sure in which order the items will appear.

### Set Items
Set items are unordered,unchangeable,and do not allow duplicate values .
### Unordered
unordered means that the items in the set do not have a defined order.
<br>
Set items can appear in a different order every time you use them ,and cannot be reffered to by index or key.
### Unchangeable
Set items are unchangeable,meaning that we cannot change the items after set has been created.
 <br>
 Once a set is created ,you cannot change its items ,but you can remove or add new items .
 ### Duplicates Not allowed
 Sets cannot hava two items with same value.

In [2]:
# duplicates values will be ignored:
thisset={"apple","banana","cherry","apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

`note:: `the values True and 1 are considered the same value in sets,and are treated as duplicates:

In [3]:
# True and 1 considered the same value:
thisset={"apple","bananan","cherry",True,1,2}
print(thisset)

{'apple', True, 2, 'bananan', 'cherry'}

### Get the length of Set
TO determine how many items a set has ,use the `len()` function

In [4]:
# Get the total number of items in a set
thisset={"apple","banana","cherry"}
print(len(thisset))

3

### Set items -Data Types:
Set items can be of any data type:

In [5]:
# String,int ,boolean data types:
set1={"apple","banana","cherry"}
set2={1,5,7,9,3}
set3={True,False,False}
print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

A set can contain different data types:

In [6]:
# A set with strings,integers,and boolean values:
set1={"abc",34,True,40,"male"}
print(set1)

{True, 34, 'abc', 'male', 40}

### type()
From Python's perspective ,sets are defined as objects with the data type set:<br>
<class 'set'>

In [7]:
# what is the data type of set?
myset={"apple","banana","cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

### The set() Constructor
It is also possible to the set() constructor to make a set

In [8]:
# Using the set() constructor to make a set
thisset=set(("apple","banana","cherry"))
print(thisset)

{'apple', 'cherry', 'banana'}

### Access Set Items
You cannot access the items in a set by referring to an index or a key.<br>
But you can loop through the set items using a for loop .or ask if a specified value is present in a set ,by using the in keyword

In [9]:
# Loop through the set ,and print values:
thisset={"apple","banana","cherry"}
for x in thisset:
    print(x)

apple
cherry
banana

In [10]:
# check if "banana" is present in the set:
thisset={"apple","banana","cherry"}
print("banana" in thisset)

True

### Change Items
Once a set is created ,you cannot change its items ,but you can add new items.

### Add Set Items
##### Add Items
Once a set is created ,You cannot change its items,but you can add new items.

To add one item to a set use the `add()` method.

In [1]:
#Add one item to a set use the add() method
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

### Add Sets
to add items from another set into the current set ,use the `update()` Method

In [2]:
# Add elements from tropical into thisset:
thisset={"apple","banana","cherry"}
tropical={"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'banana', 'pineapple', 'cherry', 'papaya', 'mango'}

### Add any iterable
The object in the `update()` method does not to be a set,it can be any iterable object [tuple,dict,list]

In [3]:
# Add elements of list to at set
thisset={"apple","banana","cherry"}
mylist=["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'banana', 'kiwi', 'orange', 'cherry'}

### Remove set items

### Remove the Item in set
TO Remove the item in the set use,`remove()` or `discard()` method

In [2]:
# remove the 'banana' by using the 'remove()' method
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

`note`: if the item to remove is not exist in the set, `discard()` method will NOT raise error

You can also use the pop() method to remove an item,But this method will remove a random item,So you can't sure  what item that gets removed.the return value of pop() method is that removing item.

In [4]:
# remove a random item by using the pop() method
thisset={"apple","banana","cherry"}
thisset.pop()
print(thisset)

{'cherry', 'apple'}

`note:` sets are unordered ,so when we using the pop() method,we dont know which item gets removed

In [5]:
# clear method empties the set
thisset={"apple","banana","cherry","danemma"}
thisset.clear()
print(thisset)

set()

In [6]:
# del keyword is delete the set completely
thisset ={"braham","kiran","vinod","murthy"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [8]:
### Loop Sets
##### Loop Items:
thisset={"brahma","Rakesh","Vinod","kiran"}
for x in thisset:
    print(x)

Rakesh
Vinod
brahma
kiran

### Join Sets
##### Join Two Sets
There are several ways in python to sets the two or more sets
<br> You can use `union()` method that returns a new set containing all elements from both sets,or the `update()` method that inserts all items from one set to another set

In [9]:
# the union() returns a new set with all items from both sets:
set1={"a","b","c","d"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'd', 'b', 'c', 'a'}

In [10]:
# update method inserts the items in set2 into set1:
set1={"a","b"}
set2={1,2,3,4}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 'b', 'a'}

In [ ]:
'note':: Both union(),and update() will exclude any duplicate items.

##### Keep only the duplicates
the intersection_update() method will keep only the items that are present in both sets.

In [11]:
# keep the items that exist in both setx,sety:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

The `intersection()` method will return a new set ,that only contains the items that are present in the both sets

In [12]:
# Return a set that contains items that exist in both set x and set y:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

### keep All ,But Not the duplicates
The `symmetric_difference_update()` method will keep only the elements that are not in both sets.

In [1]:
#Keep the items that are not in both sets:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'cherry', 'microsoft', 'banana'}

The symmetric_difference() method will return a new set,that contains only the elements that are not present in both sets

In [2]:
# return a set that contains all items from both sets,except items that are Present in both
x={"apple","banana","cherry"}
y={"google","microsofr","apple"}
z=x.symmetric_difference(y)
print(z)

{'google', 'microsofr', 'cherry', 'banana'}

`note::`The values True and 1 are considered the same value in  sets,and are treated as duplicates:

In [3]:
# True and 1 is considered the same value:
x={"apple","banana","cherry",True}
y={"google",1,"apple",2}
z=x.symmetric_difference(y)
print(z)

{2, 'google', 'cherry', 'banana'}

### Set Methods
<table class="ws-table-all notranslate">
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td><a href="ref_set_add.asp">add()</a></td><td>Adds an element to the 
  set</td></tr>
<tr><td><a href="ref_set_clear.asp">clear()</a></td><td>Removes all the 
  elements from the set</td></tr>
<tr><td><a href="ref_set_copy.asp">copy()</a></td><td>Returns a copy of the set</td></tr>
  <tr>
    <td><a href="ref_set_difference.asp">difference()</a></td><td>Returns a set 
    containing the difference between two or more sets</td>
  </tr>
  <tr>
    <td><a href="ref_set_difference_update.asp">difference_update()</a></td><td>Removes the 
    items in this set that are also included in another, specified set</td>
  </tr>
<tr><td><a href="ref_set_discard.asp">discard()</a></td><td>Remove the specified 
  item</td></tr>
  <tr>
    <td><a href="ref_set_intersection.asp">intersection()</a></td><td>Returns a set, 
    that is the intersection of two other sets</td>
  </tr>
<tr><td><a href="ref_set_intersection_update.asp">intersection_update()</a></td><td>
  Removes the items in this set that are not present in other, specified set(s)</td></tr>
  <tr>
    <td><a href="ref_set_isdisjoint.asp">isdisjoint()</a></td><td>Returns whether 
    two sets have a intersection or not</td>
  </tr>
  <tr>
    <td><a href="ref_set_issubset.asp">issubset()</a></td><td>Returns whether 
    another set contains this set or not</td>
  </tr>
<tr><td><a href="ref_set_issuperset.asp">issuperset()</a></td><td>Returns whether 
  this set contains another set or not</td></tr>
<tr><td><a href="ref_set_pop.asp">pop()</a></td><td>Removes an element from the 
  set</td></tr>
<tr><td><a href="ref_set_remove.asp">remove()</a></td><td>Removes the specified element</td></tr>
  <tr>
    <td><a href="ref_set_symmetric_difference.asp">symmetric_difference()</a></td><td>Returns 
    a set with the symmetric differences of two sets</td>
  </tr>
<tr><td><a href="ref_set_symmetric_difference_update.asp">symmetric_difference_update()</a></td><td>
  inserts the symmetric differences from this set and another</td></tr>
  <tr>
    <td><a href="ref_set_union.asp">union()</a></td><td>Return a set containing 
    the union of sets</td>
  </tr>
<tr><td><a href="ref_set_update.asp">update()</a></td><td>Update the set with the 
  union of this set and others</td></tr>
</tbody></table>