# TUPLE

`syntax:`mytuple=("apple","banana","cherry")
<br>Tuples are used to store multiple items in a single variable.<br>
Tuple is one of the 4 built in data types in python used to store collections of data,the other 3 are `list`,`set`,`dictionary` all with different qualities and usage<br><br>
A Tuple is collection which is ordered and unchangable<br>
tuples are written in rounded brackets

In [1]:
#create a tuple::
thistuple=("brahma","rakesh","sharan","tamil","Softsuave")
print(thistuple)

('brahma', 'rakesh', 'sharan', 'tamil', 'Softsuave')

### Tuple items::
Tuple items are ordered,unchangable,and allow duplicate values.<br>
Tuple items are indexed,the first item has index [0],the second item has index [1] etc..<br>
### Ordered
when we say that tuples are ordered,it means that the items have a defined order,and that order will not change
### Unchangeable
Tuples are unchangeable,meaning that we cannot change,add or remove items after the tuple has been created.
### Allow duplicates
Since tuples  are indexed,they can have items with the same value:

In [3]:
#tuples allow duplicate values:
thistuple=("tamil","brahma","rakesh","tamil")
print(thistuple)

('tamil', 'brahma', 'rakesh', 'tamil')

### Tuple Length
To determine how many items a tuple has,use the `len()` function:

In [5]:
# print the number of items in a tuple
this=("king",4,"tamil")
length=len(this)
print(length)

3

### Create a tuple with one item
To create a tuple with only one item,you have to add a comma after the item,otherwise python will not recognize it as a tuple

In [6]:
# One item tuple,remember the comma:
thistupe=("brahma",)
print(type(thistuple))
## not a tuple::
this=("brahma")
print(type(this))

<class 'tuple'>
<class 'str'>

### Tuple Items -Data Types
Tuple items can be of any data type:

In [8]:
# string,int,and boolean data types:
tuple1=("apple","banana","cherry")
tuple2=(1,2,3,4)
tuple3=(True,False,False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 2, 3, 4)
(True, False, False)

In [9]:
# A tuple can have a different data types::
# a tuple with a string,int,boolean values::
tuple1=("brahma",4,True)
print(tuple1)

('brahma', 4, True)

### Type()
From python's perspective,tuples are defined as objects with data type 'tuple':
<class 'tuple'>

In [25]:
# what is the data type of tuple::
tuple2=("brahma",)
st=type(tuple2)
print(st)
print(type(st))
print(st)

<class 'tuple'>
<class 'type'>
<class 'tuple'>

### The tuple() Constructor
it is also possible to use the tuple() constructor to make a tuple.

In [44]:
# using the tuple() method to make a tuple:
my_list = ["apple", "banana", "cherry"]
my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'banana', 'cherry')

### Access tuple items::
you can access tuple items by referring to index number,inside the square brackets:

In [29]:
# print the second item in the tuple:
tuples=("brahma","kiran")
print(tuples[1])

kiran

`note::`The first item has index 0

### negative indexing::
negative indexing means start from the end.
-1 refers to the last item , -2 refers to the second last item etc.

In [30]:
# print the last item in the tuple:
thistuple=("brahma","kiran","cherry")
print(thistuple[-1])

cherry

### Range of indexes
You can specify a range of indexes by specifying where to start and where to end the range
<br>when specifying a range,the return value will be a new tuple with the specified items.

In [31]:
# return the third fourth,fifth,item:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

`note:`The search will start at index 2 and end at index 5(not included)<br>Remember the first index is 0

By leaving the start value,the range will start at the first item:

In [32]:
# this example returns the items from the begining to,but Not included,'kiwi'
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving the end value,the range will go on to the end of the list:

In [33]:
# this example returns the items from "cherry" and to the end:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes
Specify negative indexes if you want to search from the end of tuple:

In [36]:
# this example returns the items from index -4 (included) to index -1(excluded)
thistupl=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Check if Item Exists
To determine id a specified item is present in a tuple use the `in` keyword:

In [37]:
# check if "apple" is present in the tuple:

thistuple=("king","apple","orange")
if "apple" in thistuple:
    print("yes")
else:
    print("No")

yes

### update Tuples
Tuples are unchangeable,meaning that you cannot change,add,or remove items once the tupe is created.
But there are some workarounds.

## change tuple values
once a tuple is created ,you cannot change its values.tuples are unchangeable or immutable as it also is called.<br>
But there is a workaround.You can convert the tuple into list,change the list,and convert the list back into tuple.

In [43]:
# convert the tuple into a list to be able to change it:
x=("apple","banana","cherry")
y=list(x)
y[1]="cherry"
x=tuple(y)
print(x)

('apple', 'cherry', 'cherry')

### add items to tuple::
directly we cannot add items to tuple because tuple is immutable
so we need to convert to list and add items to list and again convert to tuple

In [42]:
x=("kiran","brahma")
y=list(x)
y.append("rakesh")
x=tuple(y)
print(x)

('kiran', 'brahma', 'rakesh')

## remove the items from tuple::
we cannot remove the items from tuple directly so we convert tuple to list and do remove operation on list and again convert that list to tuple <br>
`tuple->list->tuple`

### Or you can delete the tuple completely:

In [45]:
# the 'del' keyword can delete the tuple completely:
thistuple=("apple","banana","cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [41]:
del tuple

### Unpacking the Tuple
 When we create a tuple,we normally assign values to it.This is called "packing" a tuple:

In [1]:
# packing a tuple
fruits=("apple","banana","melon")
print(fruits)

('apple', 'banana', 'melon')

`note:`but in python ,we also allowed to extract the values back into variables.This is called "unpakcing".

In [2]:
# unpacking the tuple:
fruits=("apple","melon","mango")
(green,red,yellow)=fruits
print(green)
print(red)
print(yellow)

apple
melon
mango

`note::`The number of variables must match the number of vlaues in the tuple,if not ,you must use an asterisk to collect the remaining values as a list.

#### using asterisk*
If the number of variables is less than the number of values ,you can add an * to the variable name and the values will be assigned to the variable as a list.

In [5]:
# assign the rest of the values as a list called "red":
fruits=("apple","banana","cherry","strawberry","raspberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

`note:`If the asterisk is added to another variable in than the last,Python will assign values to the variable until the number of values left matches the number of variables left.

In [6]:
# add a list of values the "tropic" variable:
fruits=("apple","mango","papaya","pineapple","cherry")
(green,*tropic,red)=fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### LOOP TUPLES
##### Loop through a tuple
You can loop through the tuple items by using a for loop.

In [7]:
# iterate through the tuple items and print the values
employees=("brahma","sharan","Antony")
for x in employees:
    print(x)

brahma
sharan
Antony

#### Loop through the Index Numbers
You can also loop through the tuple items by referring to their index number.
Use the Range() and len() functions to create a suitable iterable.

In [8]:
# Print all items by referring to their index number:
emp=("Ramesh","Brahma","Rakesh")
for i in range(len(emp)):
    print(emp[i])

Ramesh
Brahma
Rakesh

#### Iterate Through while loop
You can loop through the tuple items by using a while loop.
<br>Use the len() function to determine the length of the tuple,then start at 0 and loop your way through the tuple items by referring to their indexes
<br>Remember to increase the index by 1 after each iteration.

In [10]:
# Print all items ,using a while loop to go through all the index numbers:
emp=("ram","bheem","sam")
i=0
while i < len(emp):
    print(emp[i])
    i+=1

ram
bheem
sam

### Join Tewo Tuples::
To join two or more tuples you can use the + operator:

In [12]:
# Join two tuples:
emp=("brahma","ramesh","rakesh")

owners=("ramesh","NTR")
tuple3=emp+owners
print(tuple3)

('brahma', 'ramesh', 'rakesh', 'ramesh', 'NTR')

#### multiply tuples
If you want to mltiply the content of a tuple a given number of items,You can use the* operator:

In [13]:
# multiply the fruits tuple by 2:
fruits=("mango","orange")
mytuple=fruits*2
print(mytuple)

('mango', 'orange', 'mango', 'orange')

### python methods::
Python has two built in methods that can use on tuples.

Method                                                   Descripton
--------                                                --------------------
count()                                           returns the no of times a specified value occurs in <br>
index()                                           Searches the tuple for the specified value and returns the position of where it 
                                                  available